<!-- wp:template-part
    {
        "slug":"header",
        "area":"header",
        "className":"header"
    }
/-->

<!-- wp:query -->
    <!-- wp:post-template -->
        <!-- wp:post-title /-->
        <!-- wp:post-date {"fontSize":"small"} /-->
        <!-- wp:post-excerpt {"moreText":"Read More"} /-->
    <!-- /wp:post-template -->
<!-- /wp:query -->

<!-- wp:template-part
    {
        "slug":"footer",
        "area":"footer",
        "className":"footer"
    }
/-->
